<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Enseignants</title>
</head>
<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header" th:if="${mode=='new'}">Ajout des
					Enseignants</div>
				<div class="card-header" th:if="${mode=='edit'}">Modification
					des Enseignants</div>
				<div class="card-body">
					<form th:action="@{saveEnseignant}" method="post">
						<div class="form-group">
							<label class="control-label" hidden>ID Enseignant :</label> <input
								type="hidden" name="idEnseignant" class="form-control"
								th:value="${enseignant.idEnseignant}" />
						</div>
						<div class="form-group">
							<label class="control-label">Nom Enseignant :</label> <input
								type="text" name="nomEnseignant" class="form-control"
								th:value="${enseignant.nomEnseignant}" /> <span
								th:errors=${enseignant.nomEnseignant} class="text-danger">
							</span>
						</div>
						<div class="form-group">
							<label class="control-label">Salaire Enseignant :</label> <input
								type="text" name="salaireEnseignant" class="form-control"
								th:value="${enseignant.salaireEnseignant}" /> <span
								th:errors=${enseignant.salaireEnseignant} class="text-danger">
							</span>

						</div>
						<div class="form-group">
							<label class="control-label">date d'embauche :</label> <input
								type="date" name="dateEmbauche" class="form-control"
								th:value="${enseignant.dateEmbauche}" /> <span
								th:errors=${enseignant.dateEmbauche} class="text-danger">
							</span>


						</div>
						
			      	<div class="form-group">
							<label class="control-label">Specialité :</label> 
							<select  type="text" name="specilate" class="form-control" th:value="${enseignant.specilate.idSpe}"  >
								<option th:each="e:${specilates}" th:if="${mode=='edit'}"
									th:value="${e.idSpe}" th:text="${e.nomSpe}"
									th:selected="${ e.idSpe==enseignant.specilate.idSpe}"></option>

								<option th:each="e:${specilates}" th:if="${mode=='new'}"
									th:value="${e.idSpe}" th:text="${e.nomSpe}"></option>
							</select>
						</div>
                       
						<div>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>