<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Specilates</title>
</head>
<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Liste des Specilates</div>
				<div class="card-body">

					
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Nom de specialité</th>
							<th>description de la specialité</th>
						</tr>
						<tr th:each="s:${specilates}">
							<td th:text="${s.idSpe}"></td>
							<td th:text="${s.nomSpe}"></td>
							<td th:text="${s.descriptionSpe}"></td>
						
	
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-success"
								th:href="@{modifierSpecilate(id=${s.idSpe})}">Editer</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger"
								onclick="return confirm('Etes-vous sûr ?')"
								th:href="@{supprimerSpecilate(id=${s.idSpe},
                                page=${currentPage},size=${size})}">Supprimer</a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ ListeSpecilates(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</body>
</html>